<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ItaCerâmica - Detalhes do produto</title>
</head>

<body>
    <table>
        <tr height="50px">
            <td width="70%">
            </td>
            <td width="30%">
                <h3>
                    <a href="../index.html#produtos">
                        <span> Voltar</span>
                    </a>
                </h3>
            </td>
        </tr>
    </table>
    <table width="500" height="800px" align="center">
        <tr height="100px">
            <td align="center" width="100%">
                <h2>
                    Detalhes do Produto
                </h2>
            </td>
        </tr>
        <tr height="50px">
            <td align="center">
                <table>
                    <tr>
                        <td>
                            <img src="../assets/img/adesivo-azulejo-madri.png" width="250" height="200"
                                alt="Foto de azuleijos">
                        </td>
                        <td>
                            <font color="#d80039">
                                <h2> Preço: R$ 39,99 un <br>à vista </h2>
                            </font>
                            <iframe  width="500" frameBorder="0" nonresize="nonresize" src="../frames/comprar.html" 
                                title="Formulário para compra do produto" name="forms" >
                             </iframe>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="30px">
            <td width="50%" align="left">
               <h2>
                Adesivo para Azulejo Madri 15x15cm com 16 Peças Laranja E Marrom
               </h2>
            </td>
        </tr>
        <tr  height="60px">
            <td>
                <details  width="100">
                    <summary  width="100">
                        <b> Dimensões</b> (clique no seta)
                    </summary>
                    <Br>
                    <table width="100%" border="0">
                        <tr >
                            <td bgcolor="#ccc" width="25%"><b>Altura</b></td>
                            <td >15cm</td>
                        </tr>
                        <tr>
                            <td bgcolor="#ccc" width="25%"><b>Largura</b></td>
                            <td>15cm</td>
                        </tr>
                        <tr>
                            <td bgcolor="#ccc" width="25%"><b>Dimensões aproximadas</b></td>
                            <td>2 x 17 x 15 cm</td>
                        </tr>
                        <tr>
                            <td bgcolor="#ccc" width="25%"><b>Peso</b></td>
                            <td>0,230g</td>
                        </tr>
                    </table>
                </details>
            </td>
        </tr>
        <tr  height="60px" width="100%">
            <td width="100">
                <table border="0">
                    <tr>
                        <br>
                        <b> Descrição</b>
                    </tr>
                    <tr>
                        <td bgcolor="#ccc" width="25%"><b>Tipo</b></td>
                        <td>Adesivo Vinílico</td>
                    </tr>
                    <tr>
                        <td bgcolor="#ccc" width="25%"><b>Quantidade de peças</b></td>
                        <td>16</td>
                    </tr>
                    <tr>
                        <td bgcolor="#ccc" width="25%"><b>Modelo</b></td>
                        <td>Madri</td>
                    </tr>
                    <tr>
                        <td bgcolor="#ccc" width="25%"><b>Função</b></td>
                        <td>Decorar Adesivo de Parede</td>
                    </tr>
                    <tr>
                        <td bgcolor="#ccc" width="25%"><b>Estampado</b></td>
                        <td>Sim</td>
                    </tr>
                    <tr>
                        <td bgcolor="#ccc" width="25%"><b>Auto Adesivo:</b></td>
                        <td>Sim</td>
                    </tr>
                    <tr>
                        <td bgcolor="#ccc" width="25%"><b>Lavável</b></td>
                        <td>Sim</td>
                    </tr>
                    <tr>
                        <td bgcolor="#ccc" width="25%"><b>Características Técnicas</b></td>
                        <td align="justify">O Adesivo para Azulejo Madri 15x15cm contém 16 Peças nas cores Laranja e Marrom com acabamento brilhante. 
                                Essa laminação protege seu adesivo e permite que seja limpo com produtos de limpeza, pois é lavável.</td>
                    </tr>
                    <tr>
                        <td bgcolor="#ccc" width="25%"><b>Benefícios</b></td>
                        <td align="justify"> Pode ser instalado em cozinhas(até mesmo perto do fogão) e banheiros. Mude sua cozinha sem fazer reforma!</td>
                    </tr>
                    <tr>
                        <td bgcolor="#ccc" width="25%"><b>Fornecedor</b></td>
                        <td>Dona Cereja</td>
                    </tr>
                </table>

                </span>
            </td>
        </tr>
        <tr>
        </tr>
    </table>

</body>

</html>