

.box-contato{
    
    background: rgb(255, 255, 255);

}

.box-contato div{
    width: 30em;
}

.header-contato{
    padding:1em;
    justify-content: space-between;
    top: 0;
    padding-bottom: 1em;
    margin-bottom: 2em;
  }


  .header-contato>h1{
    font-weight: 500;   
  }

  