
.item{
    max-width: 200px;
    max-height: 300px;
    height: 125em;
    width: 18em;
    font-size: 12px;
    background-color: #fff;
    margin: 0em 1em 1em 0;
	text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: .6s;
    border-radius: .3em;

}

.item:hover{
    transition: .5s;
    box-shadow: -1px 5px 1em  var(  --color-gray-primary);
}

.item-desc{
    font-weight: 400;
    color:var(--color-red-)
}

.item:last-child{
    margin-right: 0em;
}

.item-container{
    grid-template-columns: repeat(auto-fill, minmax(15em, auto));
}


.item-body{
    text-align: left;
    color:#000;
    font-size: 1.3em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.item-desc{
    font-weight: 400;

}

.item-price{
    margin-top: .5em;
    color:var(--color-red-bold)
}

.grid {
    display: grid;
	max-width: 80%;
	margin: 0 auto;
}

.title-item{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1.5em;
}
.title-item>span{
    font-weight: 300;
    font-size: 2.4em;
    color: var( --color-black-secondary:);
}

.box-item{
    width: 100%;
}

.box-item>.title-item{
    display: flex;
    justify-content: flex-start;
}

.img-fluid{
    width: 100%;
}