
/*=========== HEADER ================*/
.bg-color-red{
  background-color: var(--color-red-primary);
}
.nav-bar{
  top: 0;
  padding: 1em;
  display: grid;
  background-color: var(--color-red-primary);
  box-sizing: border-box;

}


.nav-bar2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-red-primary);
  height: 5em;
  padding: 1.5em;
}

.nav{
  width: 95%;
  display: flex;
  margin: 0 1em 0 1em;
}



.mt-4{
  margin-top: 4em;
}

.logo{
  display: flex;
  justify-content: space-between;
}

.logo>a{
  align-self: flex-start;
  font-size: 2em;
}

#menu{
  display: none;

  cursor: pointer;
}


#nav-search{
  width: 50%
}


.nav-bar a {
  transition: .8s;
}

.nav-bar .actions a:hover{
  transform: scale(1.5);
  color: var(--color-gray-light);
}

#nav-actions-side a{
  padding: 1em;
  border-radius:.3em;
}
#nav-actions-side a:hover{
  background: rgba(0, 0, 0, 0.22);
}

#requests::after{
  content: "Seus Pedidos";
}

#shopping-car::after{
  content: "Meu Carrinho";
}


#nav-actions-footer{
  display: none;
}

#search-footer{
  display: none;
}

.menu-products{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--color-red-primary);
  height: 2em;
  padding: 1.5em;
}

.menu-products>a{
 color: #fff;
}

.menu-products>a:hover{
  background: rgba(0, 0, 0, 0.22);
  padding: .5em;
 }




/*=========== MENU FLUTUANTE ================*/

#menu-float{
  display: none;
  padding: 1.5em;
  transition: 0.5;
  height: 100%;
}

#menu-float:target{
  display: block;
  color:#fff;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.845);
  width: 80%;
  height: 100%;
  z-index: 2;

}

.header-menu-float{
  justify-content: space-between;
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #fff;
}

.body-menu-float{
  margin-top:1em;
  padding-left: 1em;
  color:#fff
}

.body-menu-float>li{
  margin: .2em;
  padding:.6em;
  transition: .5s;
  cursor: pointer;
}

.body-menu-float>li>a{
  position: relative;
  color:#fff !important;
  z-index: 3;
  font-size: 1.2em;
}

.body-menu-float>li:hover{
  background-color: #d80039;
  transition: .5s;
}



.footer-menu-float{
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
  font-weight: 100;
  font-size: 1.1em;
  padding:1em;
  color: var(--color-white-primary);
  transition: 1s;
  cursor: pointer;
}

.footer-menu-float:hover{
  transition: .5s;
  background-color:  #000 !important;
  color:  var(--color-white-primary);
}





.btn-up{
  background-color: var( --color-gray-primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  position: fixed;
  margin-right: 1.4em;
  margin-bottom: 1.4em;
  transform: rotate(270deg);

  display: flex;
  justify-content: center;
  
  box-shadow: 5px 5px 2em #ccc;

}

.btn-up>span{
  content: url('../icons/proximo.svg');
  width: 1.4em;
  color: #fff;
  fill: green;
}

