
/*=========== HEADER ================*/
.nav-bar{
  top: 0;
  padding: 1em;
  display: grid;
  background-color: var(--color-red-primary);
}


.nav-bar2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d80039;
  height: 5em;
  padding: 1.5em;
}

.nav{
  width: 95%;
  display: flex;
  margin: 0 1em 0 1em;
}

.nav-bar>nav:last-child{
  display: flex;
  justify-self: end;
}

.logo{
  display: flex;
  justify-content: space-between;
}

.logo>a{
  align-self: flex-start;
  font-size: 2em;
}

#menu{
  display: none;
	grid-template-rows: 1fr ;
  cursor: pointer;
}


#nav-search{
  width: 50%
}


.nav-bar a {
  transition: .8s;
}

.nav-bar .actions a:hover{
  transform: scale(1.5);
  color: var(--color-gray-light);
}


#requests::after{
  content: "Seus Pedidos";
}

#shopping-car::after{
  content: "Meu Carrinho";
}


#nav-actions-footer{
  display: none;
}

#search-footer{
  display: none;
}



/*=========== MENU FLUTUANTE ================*/

#menu-float{
  display: none;
  padding: 1.5em;
  transition: 0.5;
}

#menu-float:target{
  display: block;
  color:#fff;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.845);
  width: 80%;
  height: 100%;
  z-index: 2;

}

.header-menu-float{
  justify-content: space-between;
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #fff;
}

.body-menu-float{
  margin-top:1em;
  padding-left: 1em;
  color:#fff
}

.body-menu-float>li{
  margin: .2em;
  padding:1em;
  transition: .5s;
  cursor: pointer;
}

.body-menu-float>li>a{
  position: relative;
  color:#fff !important;
  z-index: 3;
  font-size: 1.2em;
}

.body-menu-float>li:hover{
  background-color: #d80039;
  transition: .5s;
}

.body-menu-float>li>a.btn-primary{
  background-color: #d80039;
}

.footer-menu-float{
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
  font-weight: 800;
  font-size: 1.1em;
  padding:1em;
  color: var(--color-white-primary);
  transition: 1s;
  cursor: pointer;
}

.footer-menu-float:hover{
  transition: .5s;
  background-color:  #000 ;
  color:  var(--color-white-primary);
}






